In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('houses2.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218841 entries, 0 to 218840
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         218841 non-null  object
 1   neighborhoods  218841 non-null  object
 2   saleDates      218841 non-null  object
 3   addresses      210448 non-null  object
 4   helka          218841 non-null  object
 5   kinds          218841 non-null  object
 6   rooms          218841 non-null  float64
 7   floors         218841 non-null  object
 8   sizes          218841 non-null  object
 9   prices         218841 non-null  object
 10  changes        196979 non-null  object
dtypes: float64(1), object(10)
memory usage: 18.4+ MB

In [4]:
df = df[df.rooms!=0]
df.head()

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,changes
25,אופקים,אזור תעשיה,13.08.2008,NaN,39557-13-4,קוטג' חד משפחתי,5.0,,183,"900,000",
32,אופקים,אזור תעשיה,21.06.2005,,39557-4-3,דירה בבית קומות,3.0,,70,"127,000",
36,אופקים,אזור תעשיה,31.12.2003,NaN,39557-15-3,תעשיה,3.0,ראשונה,60,"293,000",
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,שלישית,58.55,"620,000",260% ב 14.1 שנים
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,שניה,70.10,"740,000",

In [5]:
df.replace(' ', np.nan, inplace= True)

In [6]:
df.dropna(subset=['addresses', 'prices'], inplace=True)
df.head()

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,changes
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,שלישית,58.55,"620,000",260% ב 14.1 שנים
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,שניה,70.10,"740,000",NaN
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,ראשונה,85.40,"710,000",NaN
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,שניה,66.80,"785,000",26% ב 5.9 שנים
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,שניה,76,"183,000",NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169020 entries, 40 to 218840
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         169020 non-null  object
 1   neighborhoods  169020 non-null  object
 2   saleDates      169020 non-null  object
 3   addresses      169020 non-null  object
 4   helka          169020 non-null  object
 5   kinds          166283 non-null  object
 6   rooms          169020 non-null  float64
 7   floors         151034 non-null  object
 8   sizes          168635 non-null  object
 9   prices         169020 non-null  object
 10  changes        59618 non-null   object
dtypes: float64(1), object(10)
memory usage: 15.5+ MB

In [8]:
df.drop('changes', inplace= True, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169020 entries, 40 to 218840
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         169020 non-null  object
 1   neighborhoods  169020 non-null  object
 2   saleDates      169020 non-null  object
 3   addresses      169020 non-null  object
 4   helka          169020 non-null  object
 5   kinds          166283 non-null  object
 6   rooms          169020 non-null  float64
 7   floors         151034 non-null  object
 8   sizes          168635 non-null  object
 9   prices         169020 non-null  object
dtypes: float64(1), object(9)
memory usage: 14.2+ MB

In [39]:
df =df[df.kinds!="חנות"]
df =df[df.kinds!="תעשיה"]
df =df[df.kinds!="מלאכה"]
df =df[df.kinds!="משרד"]
df =df[df.kinds!="מחסנים"]
df =df[df.kinds!="עסק"]
df =df[df.kinds!="חניה"]
df =df[df.kinds!="קומבינציה"]
df =df[df.kinds!="דיור מוגן"]
df =df[df.kinds!="מבנים חקלאיים"]
df =df[df.kinds!="ללא תכנון"]
df =df[df.kinds!="אחר"]
df =df[df.kinds!="מגורים"]
df =df[df.kinds!="בניני ציבור"]
df =df[df.kinds!="מלונאות"]
df =df[df.kinds!="ללא תיכנון"]
df =df[df.kinds!="מלונאות ונופש"]
df =df[df.kinds!="דירת נופש"]
df =df[df.kinds!="קרקע למגורים"]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159016 entries, 40 to 218840
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         159016 non-null  object
 1   neighborhoods  159016 non-null  object
 2   saleDates      159016 non-null  object
 3   addresses      159016 non-null  object
 4   helka          159016 non-null  object
 5   kinds          159016 non-null  object
 6   rooms          159016 non-null  float64
 7   floors         150623 non-null  object
 8   sizes          158714 non-null  float64
 9   prices         159016 non-null  int64
 10  day            159016 non-null  int64
 11  month          159016 non-null  int64
 12  year           159016 non-null  int64
dtypes: float64(2), int64(4), object(7)
memory usage: 17.0+ MB

In [41]:
indexNames = df[(df.kinds.str.contains('דירה')) & (df['floors'].isnull()) ].index
print(indexNames)
df.drop(labels = indexNames , inplace=True)
df.info()

Int64Index([], dtype='int64')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 159016 entries, 40 to 218840
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         159016 non-null  object
 1   neighborhoods  159016 non-null  object
 2   saleDates      159016 non-null  object
 3   addresses      159016 non-null  object
 4   helka          159016 non-null  object
 5   kinds          159016 non-null  object
 6   rooms          159016 non-null  float64
 7   floors         150623 non-null  object
 8   sizes          158714 non-null  float64
 9   prices         159016 non-null  int64
 10  day            159016 non-null  int64
 11  month          159016 non-null  int64
 12  year           159016 non-null  int64
dtypes: float64(2), int64(4), object(7)
memory usage: 21.0+ MB

In [11]:
df.kinds.fillna('דירה', inplace=True)

In [12]:
df["floors"].replace({"ראשונה": "1", "שניה": "2", "שלישית": "3", "רביעית": "4", "חמישית": "5", "שישית": "6", "שביעית": "7", "שמינית": "8", "תשיעית": "9", "עשירית": "10", 'קרקע ראשונה': 0, 'קרקע+ראשונה': 0, 'קומה 2':2, 'שניה ושלישית': 0}, inplace=True)
df["floors"].replace({"קרקע": "0", "אחד עשרה": "11", "שתים עשרה": "12", "שלוש עשרה": "13", "ארבע עשרה": "14", "חמש עשרה": "15", "שש עשרה": "16", 'קומה 0': 0, 'קומה 1': 1, 'קומה 0, קומה 1': 0, "קרקע, ראשונה": 0, "קרקע + ראשונה": 0}, inplace=True)
df["floors"].replace({"שבע עשרה": "17", "שמונה עשרה": "18", "תשעה עשרה": "19", "עשרים": "20", "עשרים ואחת": "21", "עשרים ושתיים": "22", "עשרים ושלוש ": "23", "עשרים ורבע": "24", "עשרים וחמש": "25", "עשרים ושש": "26", "עשרים ושבי": "27", "עשרים ושמונה": "28", "עשרים ותשע": "29", "שלושים": "30"}, inplace=True)
df["floors"].replace({"שלושים ואחת": "31", "שלושים ושתיים": "32", "שלושים ושלוש": "33", "שלושים וארבע": "34", "שלושים וחמש": "35", "שלושים ושש": "36", "שלושים ושבע": "37", "שלושים ושמונה": "38", "שלושים ותשע": "39", "ארבעים": "40"}, inplace=True)
df["floors"].replace({"ארבעים ואחת": "41", "ארבעים ושתיים": "42", "ארבעים ושלוש": "43", "ארבעים וארבע": "44", "ארבעים וחמש": "45", "ארבעים ושש": "46", "ארבעים ושבע": "47", "ארבעים ושמונה": "48"}, inplace=True)
df["floors"].replace({"1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6, "7": 7, "8": 8, "9": 9, "10": 10}, inplace=True)
df["floors"].replace({"11": 11, "12": 12, "13": 13, "14": 14, "15": 15, "16": 16, "17": 17, "18": 18, "19": 19, "20": 20}, inplace=True)
df["floors"].replace({"21": 21, "22": 22, "23": 23, "24": 24, "25": 25, "26": 26, "27": 27, "28": 28, "29": 29, "30": 30}, inplace=True)
df["floors"].replace({"31": 31, "32": 32, "33": 33, "34": 34, "35": 35, "36": 36, "37": 37, "38": 38, "39": 39, "40": 40}, inplace=True)
df["floors"].replace({"41": 41, "42": 42, "43": 43, "44": 44, "45": 45, "46": 46, "47": 47, "48": 48}, inplace=True)

df[df['sizes']==144]

Empty DataFrame
Columns: [cities, neighborhoods, saleDates, addresses, helka, kinds, rooms, floors, sizes, prices]
Index: []

In [13]:
df['sizes'] = pd.to_numeric(df['sizes'])
df['prices'] = df['prices'].str.replace(',', '')
df['prices'] = pd.to_numeric(df['prices'])

In [14]:
df['rooms'] = pd.to_numeric(df['rooms'])
df['rooms']

40        3.0
41        3.0
42        4.0
43        3.0
44        4.0
         ...
218836    3.0
218837    2.0
218838    3.0
218839    2.5
218840    2.0
Name: rooms, Length: 159755, dtype: float64

In [15]:
df.head()

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,3,58.55,620000
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,2,70.10,740000
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,1,85.40,710000
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,2,66.80,785000
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,2,76.00,183000

In [16]:
df[["day", "month", "year"]] = df["saleDates"].str.split(".", expand = True)
df

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,day,month,year
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,3,58.55,620000,28,01,2021
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,2,70.10,740000,15,01,2021
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,1,85.40,710000,14,01,2021
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,2,66.80,785000,04,01,2021
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,2,76.00,183000,23,12,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
218836,תל אביב -יפו,תל חיים,21.11.2012,שטינשנידר 16,6133-644-1,דירה בבית קומות,3.0,2,70.00,1649000,21,11,2012
218837,תל אביב -יפו,תל חיים,15.11.2012,השלום 91,6164-35-7,דירה בבית קומות,2.0,2,48.06,1155000,15,11,2012
218838,תל אביב -יפו,תל חיים,18.10.2012,הרב רייפמן 7,6133-530-2,דירה בבית קומות,3.0,1,59.90,1199000,18,10,2012
218839,תל אביב -יפו,תל חיים,04.10.2012,גונן 10,6164-190-4,דירה בבית קומות,2.5,0,30.70,950000,04,10,2012
218840,תל אביב -יפו,תל חיים,27.09.2012,עמישב 4,6164-26-26,דירה בבית קומות,2.0,4,48.06,880000,27,09,2012

In [17]:
df['day'] = pd.to_numeric(df['day'])
df['month'] = pd.to_numeric(df['month'])
df['year'] = pd.to_numeric(df['year'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159755 entries, 40 to 218840
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         159755 non-null  object
 1   neighborhoods  159755 non-null  object
 2   saleDates      159755 non-null  object
 3   addresses      159755 non-null  object
 4   helka          159755 non-null  object
 5   kinds          159755 non-null  object
 6   rooms          159755 non-null  float64
 7   floors         150623 non-null  object
 8   sizes          159440 non-null  float64
 9   prices         159755 non-null  int64
 10  day            159755 non-null  int64
 11  month          159755 non-null  int64
 12  year           159755 non-null  int64
dtypes: float64(2), int64(4), object(7)
memory usage: 17.1+ MB

In [19]:
df.floors.fillna(-1)

40        3
41        2
42        1
43        2
44        2
         ..
218836    2
218837    2
218838    1
218839    0
218840    4
Name: floors, Length: 159755, dtype: object

In [20]:
df.head(20)

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,day,month,year
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,3,58.55,620000,28,1,2021
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,2,70.10,740000,15,1,2021
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,1,85.40,710000,14,1,2021
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,2,66.80,785000,4,1,2021
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,2,76.00,183000,23,12,2020
45,אופקים,בן גוריון,03.12.2020,הרב אלנקווה רפאל 17,39566-39-1,דירה בבית קומות,3.0,0,68.00,680000,3,12,2020
46,אופקים,בן גוריון,28.11.2020,הטייסים 15,39694-6-5,דירה בבית קומות,3.0,3,60.30,613000,28,11,2020
47,אופקים,בן גוריון,24.11.2020,הרצל 75,39564-1-13,דירה בבית קומות,3.0,4,58.55,645000,24,11,2020
48,אופקים,בן גוריון,17.11.2020,פינטו חיים 54,39566-36-38,דירת גן,3.0,0,68.00,700000,17,11,2020
49,אופקים,בן גוריון,05.11.2020,הטייסים 1,39692-3-1,דירה בבית קומות,3.0,1,58.25,730000,5,11,2020
50,אופקים,בן גוריון,25.10.2020,הטייסים 39,39696-2-5,דירה בבית קומות,3.0,3,59.80,510000,25,10,2020
51,אופקים,בן גוריון,25.10.2020,הרב אלנקווה רפאל 13,39566-38-4,דירה בבית קומות,3.0,1,68.00,343000,25,10,2020
52,אופקים,בן גוריון,29.09.2020,חזון איש 2,39696-4-21,דירה בבית קומות,5.0,3,83.30,740000,29,9,2020
53,אופקים,בן גוריון,17.09.2020,הרב אלנקווה רפאל 13,39566-38-30,דירה בבית קומות,3.0,2,68.00,585000,17,9,2020
54,אופקים,בן גוריון,14.09.2020,"רש""י 3",39694-10-47,דירה בבית קומות,3.0,2,59.80,668000,14,9,2020
55,אופקים,בן גוריון,01.09.2020,הרב אלנקווה רפאל 25,39566-39-30,דירה בבית קומות,3.0,2,68.00,161000,1,9,2020
56,אופקים,בן גוריון,21.08.2020,הטייסים 19,39694-6-23,דירה בבית קומות,3.0,4,60.30,595000,21,8,2020
57,אופקים,בן גוריון,16.08.2020,הרב אלנקווה רפאל 46,39566-50-18,דירה בבית קומות,3.0,2,67.00,745000,16,8,2020
58,אופקים,בן גוריון,16.08.2020,הרצל 85,39692-7-4,דירה בבית קומות,4.0,1,72.50,845000,16,8,2020
59,אופקים,בן גוריון,09.08.2020,חזון איש 5,39566-45-16,דירה בבית קומות,3.0,1,68.00,183000,9,8,2020

In [21]:
arr=[]
for i in df['kinds'].values:
    if i not in arr:
        arr.append(i)
        print(i)

דירה בבית קומות
דירת גן
קוטג' חד משפחתי
קוטג' דו משפחתי
דירה
בית בודד
קוטג' טורי
דירת גג
דירת גג (פנטהאוז)
חד משפחתי (וילה)
מיני פנטהאוז
דופלקס
דירת מרתף

In [22]:
df[df['kinds'].str.match('בית בודד')]

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,day,month,year
397,אופקים,הארזים,23.06.2019,החבצלת 18,39920-4-2,בית בודד,7.0,1,189.0,1380000,23,6,2019
490,אופקים,הארזים,21.08.2016,יסמין 2,39921-36-1,בית בודד,5.0,1,200.0,875000,21,8,2016
529,אופקים,הארזים,04.08.2015,גבורי ישראל 8,39555-13-2,בית בודד,5.0,1,146.0,770000,4,8,2015
544,אופקים,הארזים,24.02.2015,גבורי ישראל 81,39555-41-2,בית בודד,2.0,1,30.0,499000,24,2,2015
599,אופקים,"הרי""ף",26.08.2020,"אצ""ל 17",39854-12-1,בית בודד,5.0,1,145.0,1150000,26,8,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
217868,תל אביב -יפו,שפירא,10.07.2017,חכמי אתונה 14,6971-6-58,בית בודד,1.0,1,NaN,408000,10,7,2017
217870,תל אביב -יפו,שפירא,30.06.2017,מסילת ישרים 17,6971-4-115,בית בודד,2.5,NaN,50.0,250000,30,6,2017
217879,תל אביב -יפו,שפירא,29.05.2017,חכמי ישראל 1,6971-4-114,בית בודד,4.0,1,109.0,1743000,29,5,2017
218226,תל אביב -יפו,תל ברוך,12.05.2010,קפריסין 16,6627-260-1,בית בודד,5.0,NaN,120.0,4577000,12,5,2010
218334,תל אביב -יפו,תל ברוך,03.08.2000,מוסינזון יגאל 26,6792-129-1,בית בודד,5.0,NaN,175.0,3754000,3,8,2000

In [23]:
df[df['kinds'].str.match("קוטג' דו משפחתי")].describe()

,rooms,sizes,prices,day,month,year
count,11012.000000,10996.000000,1.101200e+04,11012.000000,11012.000000,11012.000000
mean,5.295260,175.787073,2.503999e+06,15.764530,6.524337,2014.368507
std,1.290368,104.445150,1.866728e+06,8.841825,3.475441,4.370547
min,1.000000,20.650000,5.000000e+04,1.000000,1.000000,1998.000000
25%,5.000000,124.000000,1.400000e+06,8.000000,3.000000,2012.000000
50%,5.000000,160.000000,2.100000e+06,16.000000,6.000000,2015.000000
75%,6.000000,205.000000,3.200000e+06,23.000000,10.000000,2018.000000
max,10.000000,1980.000000,7.255500e+07,31.000000,12.000000,2021.000000

In [24]:
sdict = {
    "קוטג' דו משפחתי": "קוטג'",
    "קוטג' חד משפחתי": "קוטג'",
    "קוטג' טורי": "קוטג'",
    "חד משפחתי (וילה)": "וילה",
    "בית בודד": "וילה",
    "דירה": "דירה בבית קומות",
    "דירת גג": "פנטהאוז",
    "דירת גג (פנטהאוז)": "פנטהאוז",
    "מיני פנטהאוז": "פנטהאוז"
}

df.replace(sdict , inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159755 entries, 40 to 218840
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         159755 non-null  object
 1   neighborhoods  159755 non-null  object
 2   saleDates      159755 non-null  object
 3   addresses      159755 non-null  object
 4   helka          159755 non-null  object
 5   kinds          159755 non-null  object
 6   rooms          159755 non-null  float64
 7   floors         150623 non-null  object
 8   sizes          159440 non-null  float64
 9   prices         159755 non-null  int64
 10  day            159755 non-null  int64
 11  month          159755 non-null  int64
 12  year           159755 non-null  int64
dtypes: float64(2), int64(4), object(7)
memory usage: 17.1+ MB

In [26]:
df.head(20)

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,day,month,year
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,3,58.55,620000,28,1,2021
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,2,70.10,740000,15,1,2021
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,1,85.40,710000,14,1,2021
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,2,66.80,785000,4,1,2021
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,2,76.00,183000,23,12,2020
45,אופקים,בן גוריון,03.12.2020,הרב אלנקווה רפאל 17,39566-39-1,דירה בבית קומות,3.0,0,68.00,680000,3,12,2020
46,אופקים,בן גוריון,28.11.2020,הטייסים 15,39694-6-5,דירה בבית קומות,3.0,3,60.30,613000,28,11,2020
47,אופקים,בן גוריון,24.11.2020,הרצל 75,39564-1-13,דירה בבית קומות,3.0,4,58.55,645000,24,11,2020
48,אופקים,בן גוריון,17.11.2020,פינטו חיים 54,39566-36-38,דירת גן,3.0,0,68.00,700000,17,11,2020
49,אופקים,בן גוריון,05.11.2020,הטייסים 1,39692-3-1,דירה בבית קומות,3.0,1,58.25,730000,5,11,2020
50,אופקים,בן גוריון,25.10.2020,הטייסים 39,39696-2-5,דירה בבית קומות,3.0,3,59.80,510000,25,10,2020
51,אופקים,בן גוריון,25.10.2020,הרב אלנקווה רפאל 13,39566-38-4,דירה בבית קומות,3.0,1,68.00,343000,25,10,2020
52,אופקים,בן גוריון,29.09.2020,חזון איש 2,39696-4-21,דירה בבית קומות,5.0,3,83.30,740000,29,9,2020
53,אופקים,בן גוריון,17.09.2020,הרב אלנקווה רפאל 13,39566-38-30,דירה בבית קומות,3.0,2,68.00,585000,17,9,2020
54,אופקים,בן גוריון,14.09.2020,"רש""י 3",39694-10-47,דירה בבית קומות,3.0,2,59.80,668000,14,9,2020
55,אופקים,בן גוריון,01.09.2020,הרב אלנקווה רפאל 25,39566-39-30,דירה בבית קומות,3.0,2,68.00,161000,1,9,2020
56,אופקים,בן גוריון,21.08.2020,הטייסים 19,39694-6-23,דירה בבית קומות,3.0,4,60.30,595000,21,8,2020
57,אופקים,בן גוריון,16.08.2020,הרב אלנקווה רפאל 46,39566-50-18,דירה בבית קומות,3.0,2,67.00,745000,16,8,2020
58,אופקים,בן גוריון,16.08.2020,הרצל 85,39692-7-4,דירה בבית קומות,4.0,1,72.50,845000,16,8,2020
59,אופקים,בן גוריון,09.08.2020,חזון איש 5,39566-45-16,דירה בבית קומות,3.0,1,68.00,183000,9,8,2020

In [27]:

df[df.floors=="אחת עשרה+שתים עשרה"]

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,day,month,year
31660,גבעת שמואל,רמת הדר,18.06.2017,יוני נתניהו 26,6392-277-168,דירה בבית קומות,6.0,אחת עשרה+שתים עשרה,155.00,4000000,18,6,2017
40771,הוד השרון,מתחם 200,13.03.2016,בן צבי יצחק 4,6411-470-64,דירה בבית קומות,4.0,אחת עשרה+שתים עשרה,117.60,2370000,13,3,2016
217026,תל אביב -יפו,רמת אביב החדשה,28.01.2018,סטימצקי 8,6886-56-121,דירה בבית קומות,6.0,אחת עשרה+שתים עשרה,183.31,5400000,28,1,2018

In [28]:
indexNames = df[df.floors.str.contains('\+' , na=False)].index

indexNames

Int64Index([  1875,   1966,   2070,   2110,   2124,   2126,   2131,   2135,
              2136,   2149,
            ...
            217026, 217137, 217138, 217151, 217214, 217742, 217995, 218170,
            218719, 218758],
           dtype='int64', length=4449)

In [29]:
arr = list(df['floors'])

for i in range(len(arr)):
    if '+' in str(arr[i]):
        res = arr[i].split('+')
        if len(res)==2:
            arr[i]= res[0]
        else:
            for item in res:
                if 'קרקע' in item:
                    arr[i] = 0
                if 'שלישית' in item:
                    arr[i] = 0
        
        
for i in range(len(arr)):
    if '+' in str(arr[i]):
        arr[i]=-2
        
df['floors']=arr

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159755 entries, 40 to 218840
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         159755 non-null  object
 1   neighborhoods  159755 non-null  object
 2   saleDates      159755 non-null  object
 3   addresses      159755 non-null  object
 4   helka          159755 non-null  object
 5   kinds          159755 non-null  object
 6   rooms          159755 non-null  float64
 7   floors         150623 non-null  object
 8   sizes          159440 non-null  float64
 9   prices         159755 non-null  int64
 10  day            159755 non-null  int64
 11  month          159755 non-null  int64
 12  year           159755 non-null  int64
dtypes: float64(2), int64(4), object(7)
memory usage: 17.1+ MB

In [50]:
df[df['floors'].isnull() & df['kinds'].str.contains('קוטג')]

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,day,month,year
611,אופקים,"הרי""ף",27.10.2019,"לח""י 24",39563-62-1,קוטג',5.0,NaN,160.0,1750000,27,10,2019
615,אופקים,"הרי""ף",22.09.2019,מרבד הקסמים 10,39851-5-1,קוטג',1.0,NaN,223.0,1550000,22,9,2019
617,אופקים,"הרי""ף",05.09.2019,"אצ""ל 13",39854-1-1,קוטג',7.0,NaN,155.0,1315000,5,9,2019
652,אופקים,"הרי""ף",17.05.2018,"לח""י 3",39563-31-1,קוטג',5.0,NaN,250.0,1500000,17,5,2018
664,אופקים,"הרי""ף",28.08.2017,מרבד הקסמים 29,39855-18-1,קוטג',5.0,NaN,192.0,1368000,28,8,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
218252,תל אביב -יפו,תל ברוך,04.12.2007,אוגרית 31,6627-265-1,קוטג',6.0,NaN,259.0,6238000,4,12,2007
218272,תל אביב -יפו,תל ברוך,25.06.2006,אוגרית 3,6627-221-1,קוטג',6.0,NaN,160.0,3572000,25,6,2006
218276,תל אביב -יפו,תל ברוך,12.03.2006,בני אפרים 229,6625-633-1,קוטג',7.0,NaN,200.0,2238000,12,3,2006
218293,תל אביב -יפו,תל ברוך,31.08.2004,מוסינזון יגאל 12,6792-139-1,קוטג',5.0,NaN,369.0,4774000,31,8,2004
218294,תל אביב -יפו,תל ברוך,24.08.2004,בית חורון 10,6627-239-1,קוטג',6.0,NaN,263.0,4298000,24,8,2004

In [52]:
//delete floors NaN

cities           None
neighborhoods    None
saleDates        None
addresses        None
helka            None
kinds            None
rooms            None
floors           None
sizes            None
prices           None
day              None
month            None
year             None
dtype: object

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,day,month,year
611,אופקים,"הרי""ף",27.10.2019,"לח""י 24",39563-62-1,קוטג',5.0,NaN,160.0,1750000,27,10,2019
615,אופקים,"הרי""ף",22.09.2019,מרבד הקסמים 10,39851-5-1,קוטג',1.0,NaN,223.0,1550000,22,9,2019
617,אופקים,"הרי""ף",05.09.2019,"אצ""ל 13",39854-1-1,קוטג',7.0,NaN,155.0,1315000,5,9,2019
652,אופקים,"הרי""ף",17.05.2018,"לח""י 3",39563-31-1,קוטג',5.0,NaN,250.0,1500000,17,5,2018
664,אופקים,"הרי""ף",28.08.2017,מרבד הקסמים 29,39855-18-1,קוטג',5.0,NaN,192.0,1368000,28,8,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
218252,תל אביב -יפו,תל ברוך,04.12.2007,אוגרית 31,6627-265-1,קוטג',6.0,NaN,259.0,6238000,4,12,2007
218272,תל אביב -יפו,תל ברוך,25.06.2006,אוגרית 3,6627-221-1,קוטג',6.0,NaN,160.0,3572000,25,6,2006
218276,תל אביב -יפו,תל ברוך,12.03.2006,בני אפרים 229,6625-633-1,קוטג',7.0,NaN,200.0,2238000,12,3,2006
218293,תל אביב -יפו,תל ברוך,31.08.2004,מוסינזון יגאל 12,6792-139-1,קוטג',5.0,NaN,369.0,4774000,31,8,2004
218294,תל אביב -יפו,תל ברוך,24.08.2004,בית חורון 10,6627-239-1,קוטג',6.0,NaN,263.0,4298000,24,8,2004