In [87]:
import pandas as pd
import numpy as np

In [125]:
df = pd.read_csv('houses2.csv')

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218841 entries, 0 to 218840
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         218841 non-null  object
 1   neighborhoods  218841 non-null  object
 2   saleDates      218841 non-null  object
 3   addresses      210448 non-null  object
 4   helka          218841 non-null  object
 5   kinds          218841 non-null  object
 6   rooms          218841 non-null  float64
 7   floors         218841 non-null  object
 8   sizes          218841 non-null  object
 9   prices         218841 non-null  object
 10  changes        196979 non-null  object
dtypes: float64(1), object(10)
memory usage: 18.4+ MB

In [127]:
df = df[df.rooms!=0]
df.head()

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,changes
25,אופקים,אזור תעשיה,13.08.2008,NaN,39557-13-4,קוטג' חד משפחתי,5.0,,183,"900,000",
32,אופקים,אזור תעשיה,21.06.2005,,39557-4-3,דירה בבית קומות,3.0,,70,"127,000",
36,אופקים,אזור תעשיה,31.12.2003,NaN,39557-15-3,תעשיה,3.0,ראשונה,60,"293,000",
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,שלישית,58.55,"620,000",260% ב 14.1 שנים
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,שניה,70.10,"740,000",

In [128]:
df.replace(' ', np.nan, inplace= True)

In [129]:
df.dropna(subset=['addresses', 'prices'], inplace=True)
df.head()

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,changes
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,שלישית,58.55,"620,000",260% ב 14.1 שנים
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,שניה,70.10,"740,000",NaN
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,ראשונה,85.40,"710,000",NaN
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,שניה,66.80,"785,000",26% ב 5.9 שנים
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,שניה,76,"183,000",NaN

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169020 entries, 40 to 218840
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         169020 non-null  object
 1   neighborhoods  169020 non-null  object
 2   saleDates      169020 non-null  object
 3   addresses      169020 non-null  object
 4   helka          169020 non-null  object
 5   kinds          166283 non-null  object
 6   rooms          169020 non-null  float64
 7   floors         151034 non-null  object
 8   sizes          168635 non-null  object
 9   prices         169020 non-null  object
 10  changes        59618 non-null   object
dtypes: float64(1), object(10)
memory usage: 15.5+ MB

In [131]:
df.drop('changes', inplace= True, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169020 entries, 40 to 218840
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         169020 non-null  object
 1   neighborhoods  169020 non-null  object
 2   saleDates      169020 non-null  object
 3   addresses      169020 non-null  object
 4   helka          169020 non-null  object
 5   kinds          166283 non-null  object
 6   rooms          169020 non-null  float64
 7   floors         151034 non-null  object
 8   sizes          168635 non-null  object
 9   prices         169020 non-null  object
dtypes: float64(1), object(9)
memory usage: 14.2+ MB

In [132]:
df =df[df.kinds!="חנות"]
df =df[df.kinds!="תעשיה"]
df =df[df.kinds!="מלאכה"]
df =df[df.kinds!="משרד"]
df =df[df.kinds!="מחסנים"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168880 entries, 40 to 218840
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         168880 non-null  object
 1   neighborhoods  168880 non-null  object
 2   saleDates      168880 non-null  object
 3   addresses      168880 non-null  object
 4   helka          168880 non-null  object
 5   kinds          166143 non-null  object
 6   rooms          168880 non-null  float64
 7   floors         150966 non-null  object
 8   sizes          168500 non-null  object
 9   prices         168880 non-null  object
dtypes: float64(1), object(9)
memory usage: 14.2+ MB

In [169]:
indexNames = df[('דירה' in df['kinds']) & (df['floors']=='NaN') ].index
df.drop(indexNames , inplace=True)
df.info()
# df.drop(df[("דירה" in df.kinds) & (df.floors==np.nan)].index, inplace=True)
# df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168880 entries, 40 to 218840
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         168880 non-null  object
 1   neighborhoods  168880 non-null  object
 2   saleDates      168880 non-null  object
 3   addresses      168880 non-null  object
 4   helka          168880 non-null  object
 5   kinds          166143 non-null  object
 6   rooms          168880 non-null  float64
 7   floors         150966 non-null  object
 8   sizes          168500 non-null  object
 9   prices         168880 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.2+ MB

In [177]:
# Filter columnds with the word "דירה" and floor="NaN"