In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('houses2.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218841 entries, 0 to 218840
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         218841 non-null  object
 1   neighborhoods  218841 non-null  object
 2   saleDates      218841 non-null  object
 3   addresses      210448 non-null  object
 4   helka          218841 non-null  object
 5   kinds          218841 non-null  object
 6   rooms          218841 non-null  float64
 7   floors         218841 non-null  object
 8   sizes          218841 non-null  object
 9   prices         218841 non-null  object
 10  changes        196979 non-null  object
dtypes: float64(1), object(10)
memory usage: 18.4+ MB

In [4]:
df = df[df.rooms!=0]
df.head()

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,changes
25,אופקים,אזור תעשיה,13.08.2008,NaN,39557-13-4,קוטג' חד משפחתי,5.0,,183,"900,000",
32,אופקים,אזור תעשיה,21.06.2005,,39557-4-3,דירה בבית קומות,3.0,,70,"127,000",
36,אופקים,אזור תעשיה,31.12.2003,NaN,39557-15-3,תעשיה,3.0,ראשונה,60,"293,000",
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,שלישית,58.55,"620,000",260% ב 14.1 שנים
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,שניה,70.10,"740,000",

In [5]:
df.replace(' ', np.nan, inplace= True)

In [6]:
df.dropna(subset=['addresses', 'prices'], inplace=True)
df.head()

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,changes
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,שלישית,58.55,"620,000",260% ב 14.1 שנים
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,שניה,70.10,"740,000",NaN
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,ראשונה,85.40,"710,000",NaN
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,שניה,66.80,"785,000",26% ב 5.9 שנים
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,שניה,76,"183,000",NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169020 entries, 40 to 218840
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         169020 non-null  object
 1   neighborhoods  169020 non-null  object
 2   saleDates      169020 non-null  object
 3   addresses      169020 non-null  object
 4   helka          169020 non-null  object
 5   kinds          166283 non-null  object
 6   rooms          169020 non-null  float64
 7   floors         151034 non-null  object
 8   sizes          168635 non-null  object
 9   prices         169020 non-null  object
 10  changes        59618 non-null   object
dtypes: float64(1), object(10)
memory usage: 15.5+ MB

In [8]:
df.drop('changes', inplace= True, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169020 entries, 40 to 218840
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         169020 non-null  object
 1   neighborhoods  169020 non-null  object
 2   saleDates      169020 non-null  object
 3   addresses      169020 non-null  object
 4   helka          169020 non-null  object
 5   kinds          166283 non-null  object
 6   rooms          169020 non-null  float64
 7   floors         151034 non-null  object
 8   sizes          168635 non-null  object
 9   prices         169020 non-null  object
dtypes: float64(1), object(9)
memory usage: 14.2+ MB

In [9]:
df =df[df.kinds!="חנות"]
df =df[df.kinds!="תעשיה"]
df =df[df.kinds!="מלאכה"]
df =df[df.kinds!="משרד"]
df =df[df.kinds!="מחסנים"]
df.head()

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,שלישית,58.55,"620,000"
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,שניה,70.10,"740,000"
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,ראשונה,85.40,"710,000"
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,שניה,66.80,"785,000"
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,שניה,76,"183,000"

In [10]:
indexNames = df[(df.kinds.str.contains('דירה' , na=False)) & (df['floors'].isnull()) ].index
print(indexNames)
df.drop(indexNames , inplace=True)
df.info()

Int64Index([   349,    379,    602,    627,    632,    645,    669,    687,
               752,    772,
            ...
            218299, 218300, 218302, 218304, 218305, 218306, 218308, 218620,
            218654, 218787],
           dtype='int64', length=8655)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 160225 entries, 40 to 218840
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         160225 non-null  object
 1   neighborhoods  160225 non-null  object
 2   saleDates      160225 non-null  object
 3   addresses      160225 non-null  object
 4   helka          160225 non-null  object
 5   kinds          157488 non-null  object
 6   rooms          160225 non-null  float64
 7   floors         150966 non-null  object
 8   sizes          159904 non-null  object
 9   prices         160225 non-null  object
dtypes: float64(1), object(9)
memory usage: 13.4+ MB

In [11]:
df.kinds.fillna('דירה')

40        דירה בבית קומות
41        דירה בבית קומות
42        דירה בבית קומות
43        דירה בבית קומות
44        דירה בבית קומות
               ...
218836    דירה בבית קומות
218837    דירה בבית קומות
218838    דירה בבית קומות
218839    דירה בבית קומות
218840    דירה בבית קומות
Name: kinds, Length: 160225, dtype: object

In [12]:
df["floors"].replace({"ראשונה": "1", "שניה": "2", "שלישית": "3", "רביעית": "4", "חמישית": "5", "שישית": "6", "שביעית": "7", "שמינית": "8", "תשיעית": "9", "עשירית": "10", 'קרקע ראשונה': 0, 'קרקע+ראשונה': 0, 'קומה 2':2}, inplace=True)
df["floors"].replace({"קרקע": "0", "אחד עשרה": "11", "שתים עשרה": "12", "שלוש עשרה": "13", "ארבע עשרה": "14", "חמש עשרה": "15", "שש עשרה": "16", 'קומה 0': 0, 'קומה 1': 1, 'קומה 0, קומה 1': 0, "קרקע, ראשונה": 0, "קרקע + ראשונה": 0}, inplace=True)
df["floors"].replace({"שבע עשרה": "17", "שמונה עשרה": "18", "תשעה עשרה": "19", "עשרים": "20", "עשרים ואחת": "21", "עשרים ושתיים": "22", "עשרים ושלוש ": "23", "עשרים ורבע": "24", "עשרים וחמש": "25", "עשרים ושש": "26", "עשרים ושבי": "27", "עשרים ושמונה": "28", "עשרים ותשע": "29", "שלושים": "30"}, inplace=True)
df["floors"].replace({"שלושים ואחת": "31", "שלושים ושתיים": "32", "שלושים ושלוש": "33", "שלושים וארבע": "34", "שלושים וחמש": "35", "שלושים ושש": "36", "שלושים ושבע": "37", "שלושים ושמונה": "38", "שלושים ותשע": "39", "ארבעים": "40"}, inplace=True)
df["floors"].replace({"ארבעים ואחת": "41", "ארבעים ושתיים": "42", "ארבעים ושלוש": "43", "ארבעים וארבע": "44", "ארבעים וחמש": "45", "ארבעים ושש": "46", "ארבעים ושבע": "47", "ארבעים ושמונה": "48"}, inplace=True)
df["floors"].replace({"1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6, "7": 7, "8": 8, "9": 9, "10": 10}, inplace=True)
df["floors"].replace({"11": 11, "12": 12, "13": 13, "14": 14, "15": 15, "16": 16, "17": 17, "18": 18, "19": 19, "20": 20}, inplace=True)
df["floors"].replace({"21": 21, "22": 22, "23": 23, "24": 24, "25": 25, "26": 26, "27": 27, "28": 28, "29": 29, "30": 30}, inplace=True)
df["floors"].replace({"31": 31, "32": 32, "33": 33, "34": 34, "35": 35, "36": 36, "37": 37, "38": 38, "39": 39, "40": 40}, inplace=True)
df["floors"].replace({"41": 41, "42": 42, "43": 43, "44": 44, "45": 45, "46": 46, "47": 47, "48": 48}, inplace=True)

df[df['sizes']==144]

Empty DataFrame
Columns: [cities, neighborhoods, saleDates, addresses, helka, kinds, rooms, floors, sizes, prices]
Index: []

In [13]:
df['sizes'] = pd.to_numeric(df['sizes'])
df['prices'] = df['prices'].str.replace(',', '')
df['prices'] = pd.to_numeric(df['prices'])

In [14]:
df['rooms'] = pd.to_numeric(df['rooms'])
df['rooms']

40        3.0
41        3.0
42        4.0
43        3.0
44        4.0
         ...
218836    3.0
218837    2.0
218838    3.0
218839    2.5
218840    2.0
Name: rooms, Length: 160225, dtype: float64

In [15]:
df.head()

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,3,58.55,620000
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,2,70.10,740000
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,1,85.40,710000
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,2,66.80,785000
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,2,76.00,183000

In [16]:
df[["day", "month", "year"]] = df["saleDates"].str.split(".", expand = True)
df

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,day,month,year
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,3,58.55,620000,28,01,2021
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,2,70.10,740000,15,01,2021
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,1,85.40,710000,14,01,2021
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,2,66.80,785000,04,01,2021
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,2,76.00,183000,23,12,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
218836,תל אביב -יפו,תל חיים,21.11.2012,שטינשנידר 16,6133-644-1,דירה בבית קומות,3.0,2,70.00,1649000,21,11,2012
218837,תל אביב -יפו,תל חיים,15.11.2012,השלום 91,6164-35-7,דירה בבית קומות,2.0,2,48.06,1155000,15,11,2012
218838,תל אביב -יפו,תל חיים,18.10.2012,הרב רייפמן 7,6133-530-2,דירה בבית קומות,3.0,1,59.90,1199000,18,10,2012
218839,תל אביב -יפו,תל חיים,04.10.2012,גונן 10,6164-190-4,דירה בבית קומות,2.5,0,30.70,950000,04,10,2012
218840,תל אביב -יפו,תל חיים,27.09.2012,עמישב 4,6164-26-26,דירה בבית קומות,2.0,4,48.06,880000,27,09,2012

In [17]:
df['day'] = pd.to_numeric(df['day'])
df['month'] = pd.to_numeric(df['month'])
df['year'] = pd.to_numeric(df['year'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160225 entries, 40 to 218840
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   cities         160225 non-null  object
 1   neighborhoods  160225 non-null  object
 2   saleDates      160225 non-null  object
 3   addresses      160225 non-null  object
 4   helka          160225 non-null  object
 5   kinds          157488 non-null  object
 6   rooms          160225 non-null  float64
 7   floors         150966 non-null  object
 8   sizes          159904 non-null  float64
 9   prices         160225 non-null  int64
 10  day            160225 non-null  int64
 11  month          160225 non-null  int64
 12  year           160225 non-null  int64
dtypes: float64(2), int64(4), object(7)
memory usage: 17.1+ MB

In [20]:
df.floors.fillna(-1)

40        3
41        2
42        1
43        2
44        2
         ..
218836    2
218837    2
218838    1
218839    0
218840    4
Name: floors, Length: 160225, dtype: object

In [21]:
df.head(20)

,cities,neighborhoods,saleDates,addresses,helka,kinds,rooms,floors,sizes,prices,day,month,year
40,אופקים,בן גוריון,28.01.2021,הרצל 75,39564-1-10,דירה בבית קומות,3.0,3,58.55,620000,28,1,2021
41,אופקים,בן גוריון,15.01.2021,חפץ חיים 33,39694-1-16,דירה בבית קומות,3.0,2,70.10,740000,15,1,2021
42,אופקים,בן גוריון,14.01.2021,פינטו חיים 60,39566-37-21,דירה בבית קומות,4.0,1,85.40,710000,14,1,2021
43,אופקים,בן גוריון,04.01.2021,בן איש חי 14,39692-8-20,דירה בבית קומות,3.0,2,66.80,785000,4,1,2021
44,אופקים,בן גוריון,23.12.2020,"האר""י 6",39692-1-4,דירה בבית קומות,4.0,2,76.00,183000,23,12,2020
45,אופקים,בן גוריון,03.12.2020,הרב אלנקווה רפאל 17,39566-39-1,דירה בבית קומות,3.0,0,68.00,680000,3,12,2020
46,אופקים,בן גוריון,28.11.2020,הטייסים 15,39694-6-5,דירה בבית קומות,3.0,3,60.30,613000,28,11,2020
47,אופקים,בן גוריון,24.11.2020,הרצל 75,39564-1-13,דירה בבית קומות,3.0,4,58.55,645000,24,11,2020
48,אופקים,בן גוריון,17.11.2020,פינטו חיים 54,39566-36-38,דירת גן,3.0,0,68.00,700000,17,11,2020
49,אופקים,בן גוריון,05.11.2020,הטייסים 1,39692-3-1,דירה בבית קומות,3.0,1,58.25,730000,5,11,2020
50,אופקים,בן גוריון,25.10.2020,הטייסים 39,39696-2-5,דירה בבית קומות,3.0,3,59.80,510000,25,10,2020
51,אופקים,בן גוריון,25.10.2020,הרב אלנקווה רפאל 13,39566-38-4,דירה בבית קומות,3.0,1,68.00,343000,25,10,2020
52,אופקים,בן גוריון,29.09.2020,חזון איש 2,39696-4-21,דירה בבית קומות,5.0,3,83.30,740000,29,9,2020
53,אופקים,בן גוריון,17.09.2020,הרב אלנקווה רפאל 13,39566-38-30,דירה בבית קומות,3.0,2,68.00,585000,17,9,2020
54,אופקים,בן גוריון,14.09.2020,"רש""י 3",39694-10-47,דירה בבית קומות,3.0,2,59.80,668000,14,9,2020
55,אופקים,בן גוריון,01.09.2020,הרב אלנקווה רפאל 25,39566-39-30,דירה בבית קומות,3.0,2,68.00,161000,1,9,2020
56,אופקים,בן גוריון,21.08.2020,הטייסים 19,39694-6-23,דירה בבית קומות,3.0,4,60.30,595000,21,8,2020
57,אופקים,בן גוריון,16.08.2020,הרב אלנקווה רפאל 46,39566-50-18,דירה בבית קומות,3.0,2,67.00,745000,16,8,2020
58,אופקים,בן גוריון,16.08.2020,הרצל 85,39692-7-4,דירה בבית קומות,4.0,1,72.50,845000,16,8,2020
59,אופקים,בן גוריון,09.08.2020,חזון איש 5,39566-45-16,דירה בבית קומות,3.0,1,68.00,183000,9,8,2020